@model MvcMoviesJuly2018.Models.Movie

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>
<h3>Are you sure you want to delete this?</h3>
<dl>
    <dt>@Html.DisplayNameFor(m => m.Title)</dt>
    <dd>@Html.DisplayFor(m => m.Title)</dd>

    <dt>@Html.DisplayNameFor(m => m.ReleaseDate)</dt>
    <dd>@Html.DisplayFor(m => m.ReleaseDate)</dd>

    <dt>@Html.DisplayNameFor(m => m.Genre)</dt>
    <dd>@Html.DisplayFor(m => m.Genre)</dd>

    <dt>@Html.DisplayNameFor(m => m.Price)</dt>
    <dd>@Html.DisplayFor(m => m.Price)</dd>

    <dt>@Html.DisplayNameFor(m => m.ImageURL)</dt>
    <dd>@Html.DisplayFor(m => m.ImageURL)</dd>
</dl>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <input type="submit" value="Delete Record"/>
}

@Html.ActionLink("Back to List", "Index")
